<a href="https://colab.research.google.com/github/rene-michel/teste/blob/master/Ren%C3%A9_Michel_de_Azevedo_Mota_Nunes_lab301.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Laboratório 301: Pré-Processamento dos Dados

O objetivo deste laboratório é aplicar na base do titanic as etapas de prepação de dados apresentadas em sala de aula. Ao final apresente uma base de dados adequada para um modelo de classificação. 

Algumas tarefas de preparação de dados são implementadas no pandas. Se necessário, investigue a [documentação](https://pandas.pydata.org/) para usar os métodos. 

Crie um passo a passo das ações que vão ser realizadas e coloque no espaço antes de começar. Por exemplo: 

* Tarefa 1: descrição do que vai ser feito.
* Tarefa 2: descrição do que vai ser feito.

Isso ajuda a documentar as ações que estão sendo realizadas e verificar eventuais erros ou equívocos no processo.

In [0]:
# Imports necessário

import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.cbook import boxplot_stats
from sklearn import preprocessing

## Dataset

Vamos trabalhar com a base do Titanic. A bose pode ser baixada na página do desafio do Titanic no Kaggle: https://www.kaggle.com/c/titanic

In [0]:
titanic_dataset = pd.read_csv("train.csv")
titanic_dataset.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

## Descrição das Tarefas

Descreva neste espaço as tarefas que serão realizadas para a base do Titanic.

## Execução das Tarefas

In [0]:
# Coloque seu código a partir deste espaço